<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.orderserver.mapper.OrderSalesMapper">

    <resultMap id="mainResult" type="com.example.api.vo.SalesOrderVO">
        <id property="id" column="m_id" />
        <result property="orderNo" column="order_no"/>
        <result property="createDate" column="create_date"/>
        <result property="modifiedDate" column="modified_date"/>
        <result property="orderStatus" column="order_status"/>
        <result property="userId" column="user_id"/>
        <result property="orderAmount" column="order_amount"/>
        <result property="orderQuantity" column="order_quantity"/>
        <collection property="details" ofType="com.example.api.vo.SalesOrderDetailVO">
            <id property="id" column="i_id"/>
            <result property="orderId" column="order_id"/>
            <result property="productId" column="product_id"/>
            <result property="productCode" column="product_code"/>
            <result property="productName" column="product_name"/>
            <result property="productModel" column="product_model"/>
            <result property="productPrice" column="product_price"/>
            <result property="productQuantity" column="product_quantity"/>
            <result property="subtotal" column="subtotal"/>
        </collection>
    </resultMap>

    <select id="getSalesOrder" resultMap="mainResult">
         select
            m.id as m_id,
            m.order_no,
            m.create_date,
            m.modified_date,
            m.order_status,
            m.user_id,
            m.order_amount,
            m.order_quantity,
                i.id as i_id,
                i.order_id,
                i.product_id,
                i.product_code,
                i.product_name,
                i.product_model,
                i.product_price,
                i.product_quantity,
                i.subtotal
         from order_sales m
         left outer join order_sales_detail i on m.id=i.order_id
    </select>

</mapper>
